<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Management</title>
    <link rel="stylesheet" type="text/css" href="studentHome.css">
</head>
<body>
	<!--<div id="d4">
		<h3 style="color: #ff9900;">Welcome <span th:text="${user.username}" style="color: blanchedalmond;"></span></h3> 
        <h5 style="color: blanchedalmond;">We're glad you're here</h5>
	</div> -->
	<div id="d3">
		
        <h2 id="s1">L</h2>
        <h3 class="s1">E</h3>
        <h3 class="s1">A</h3>
        <h3 class="s1">R</h3>
        <h3 class="s1">N</h3>
        <h2 id="s2">P</h2>
        <h3 class="s2">R</h3>
        <h3 class="s2">O</h3>
      </div>
   
    <div class="container">
        <h1>Course Management System</h1>
        <a href="/purchase"><button id="addCourseBtn">PURCHASE COURSE</button></a>
        <a href="/myCourses"><button id="addLessonBtn">MY COURSES</button></a>
    </div>
</body>
</html>
