<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="0">

    <title>Course Management</title>
    <link rel="stylesheet" type="text/css" href="trainerHome.css">
</head>
<body>

	
	
	<div id="d3">
        <h2 id="s1">L<a href="/logout" style="font-size:large; margin-left: 1300%; color:  #ff9900;">Logout</a></h2>
        <h3 class="s1">E</h3>
        <h3 class="s1">A</h3>
        <h3 class="s1">R</h3>
        <h3 class="s1">N</h3>
        <h2 id="s2">P</h2>
        <h3 class="s2">R</h3>
        <h3 class="s2">O</h3>
      </div>
    <div class="container">
        <h1>Course Management System</h1>
        <a href="/addC"><button id="addCourseBtn">ADD COURSE</button></a>
        <a href="/addL"><button id="addLessonBtn">ADD LESSON</button></a>
        <a href="/viewCourse"><button id="viewCourseBtn">VIEW COURSE</button></a>
    </div>
</body>
</html>
